
.App{
display:flex;
flex-direction: column;
width: 100vw;
height: 100vw;
}

.appHeader{
height: 60px;
background-color:#D8D8D8;
}

.itemCardBackground
{
background-color:#D8D8D8;
}

.pageContent{
display:flex;
flex: 1;
overflow-y:auto;
}

.appFooter{
height: 120px;
}

.itemCardImage{
height: 150px !important;
object-fit: scale-down;
}

.itemCard, .itemCardBadge{
margin: 8px;
}